body {
    font-family: Serif;
}

.Intro {
    display: flex;
    margin: 0em 35em 0em 10em;
    animation: fadeIn 2s ease-in-out;
    padding-top: 16em;
}

.wave-emoji {
    animation-duration: 1.8s;
    animation-iteration-count: infinite;
    animation-name: wave;
    display: inline-block;
    transform-origin: 70% 70%;
}

@keyframes wave {

    0%,
    100% {
        transform: rotate(0deg);
    }

    25%,
    75% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }
}

h1 {
    font-size: 4em;
}

.Intro-Para {
    font-size: 2em;
    line-height: 40px;
}

.Intro-Image {
    height: 100%;
    width: 450%;
    filter: drop-shadow(1rem 1rem 1rem grey);
}

.resumebutton button {
    background-color: #55198b;
    color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.5);
}

.resumebutton button:hover {
    background-color: #7A3BB4 !important;
}

@media (max-width: 768px) {
    .Intro {
        display: block;
        margin: 0em 2em 0em 2em;
        padding-top: 10em;
    }

    h1 {
        font-size: 2em;
    }

    .Intro-Para {
        font-size: 1.1em;
        line-height: 30px;
    }

    .Intro-Image {
        height: 120%;
        width: 100%;
        margin-top: 3em;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}