.Project-Heading {
    text-align: center;
    padding-top: 4em;
}

.Card {
    display: inline-block;
    flex-wrap: wrap;
    color: white;
    padding: 15px 32px;
    margin: 24px 2px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, box-shadow 0.3s ease, color 0.3s ease;
}

.Card-Component {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    padding: 1em;
    line-height: 1.6;
    margin: 2em, 0em;
}

.Card:hover {
    background-color: #55198b;
    box-shadow: 0 0 16px #d9dbdf;
    text-decoration: none;
    color: rgb(255, 255, 255);
    animation: fadeIn 1s ease-in-out, shake 0.5s ease-in-out, bounce 0.5s ease-in-out, pulse 1s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes shake {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.project button {
    background-color: #55198b;
    color: #fff;
    box-shadow: 0px 0px 10px 0px rgba(100%, 100%, 100%, 0.5);
}

.project button:hover {
    background-color: #7A3BB4 !important;
}