body,
h1,
p {
  transition: background-color 0.3s, color 0.3s;
}

.bright-mode {
  background-color: #fff;
  color: #171c28;
}

.dark-mode {
  background-color: #171c28;
  color: #fff;
}

.dark-mode .MuiAppBar-root {
  background-color: #171c28;
  color: #fff;
}

.dark-mode .MuiButton-root {
  color: #fff;
}